/* Layout
   ========================================================================== */

/**
 * 1. Always force scrollbar padding so we don't get 'jumping'.
 * 2. Prevent iOS text size adjust after orientation change, without disabling
 *    user zoom.
 * 3. As 2 above, for Windows Phone.
 */

html {
    -webkit-tap-highlight-color: rgba($color-link-hover, 0.5);
    overflow-y: scroll; /* 1 */
    -webkit-text-size-adjust: 100%; /* 2 */
    -ms-text-size-adjust: 100%; /* 3 */
}

/**
 * 1. Set `body` to `relative` to allow positioning of absolute elements.
 * 2. Remove default margin.
 */

body {
    position: relative; /* 1 */
    margin: 0; /* 2 */
    color: $color-text-inverse;
    background-color: $color-text;
}

/**
 * Outer wrapper for main layouts.
 *
 * Example HTML:
 *
 * <div class="wrapper">
 *     <div class="container">
 *         Content
 *     </div>
 * </div>
 */

.wrapper {
    @include hires-graphic(txpmag/footer-separator, png, 16px, 8px);

    padding: 1px 0 1em;
    color: $color-text;
    background-color: $color-background;
    background-position: bottom;
    background-repeat: repeat-x;
}

/**
 * Wrapper for layouts, and for footer.
 *
 * Example HTML:
 *
 * <div class="wrapper">
 *     <div class="container">
 *         Content
 *     </div>
 * </div>
 */

.container,
footer {
    margin: 0 auto;
    width: 90%;
    max-width: $container-max-width;
}

/**
 * Additional styling for child content within `header`.
 */

header {
    margin: 5% auto;
    border: 0.25em solid $color-text;
    width: 8em;
    text-align: center;

    @include breakpoint($breakpoint-2) {
        margin: 1.75em auto;
    }
}

/**
 * Publication masthead styling.
 *
 * Example HTML:
 *
 * <p class="publication-masthead"><a><img></a></p>
 */


.publication-masthead {
    margin: 0;
    padding: 0.75em 0.75em 0.5em;
    height: 3em;
}

/**
 * Publication issue no. styling.
 *
 * Example HTML:
 *
 * <p class="publication-issue">№ 5</p>
 */

.publication-issue {
    @include adjust-font-size-to(32px, 1.6666667);

    margin: 0;
    padding: 0.25em 0.25em 0;
    color: $color-text-inverse;
    background-color: $color-text;
    font-style: italic;
    font-weight: bold;
}

/**
 * Prevent really, really long words in article from breaking layout.
 */

article {
    word-wrap: break-word;
}

/**
 * Secondary (complementary) content.
 */

.host-details {
    display: none;
    margin-top: 1em;
    text-align: center;

    @include breakpoint($breakpoint-2) {
        display: block;
    }
}

.joyent {
    display: inline-block;
    line-height: 1;
}

/**
 * Additional styling for child content within `footer`.
 */

footer {
    clear: both;
    position: relative;
}

.legal {
    @include adjust-font-size-to(12px, 0.75);
}
