/* Links
   ========================================================================== */

a {
    text-decoration: none;
    color: $color-link;
    background: transparent; // remove the gray background color from active links in IE10

    // improve readability when focused and also mouse hovered in all browsers
    &:hover,
    &:active {
        outline: 0;
        text-decoration: underline;
        color: $color-link-hover;
    }

    &:focus {
        outline: thin dotted $color-link-hover;
    }

    &:visited {
        color: $color-link-visited;
    }

    header & {
        @include border-radius($default-border-radius / 4);

        color: $color-text;

        &:hover,
        &:active {
            background: darken($color-background-box, 6%);
        }
    }
}

[role="main"] h1 a {
    color: $color-text;
    @include border-radius($default-border-radius / 4);

    &:visited {
        color: $color-text;
    }

    &:hover,
    &:active {
        text-decoration: none;
        color: $color-text;
        background: darken($color-background-box, 3%);
    }
}

[role="complementary"] a,
footer a {
    color: #c7dbfa;

    &:hover,
    &:active {
        color: #e3edfc;
    }

    &:focus {
        outline: thin dotted #e3edfc;
    }

    &:visited {
        color: #c7dbfa;
    }
}
