/* Links
   ========================================================================== */

a {
    text-decoration: none;
    color: $color-link;
    background: transparent; // remove the gray background color from active links in IE 10

    // improve readability when focused and also mouse hovered in all browsers
    &:hover,
    &:active {
        outline: 0;
        text-decoration: underline;
        color: $color-link-hover;
    }

    &:focus {
        outline: thin dotted $color-link-focus;
    }

    &:visited {
        color: $color-link-visited;
    }

    header & {
        display: inline-block;
    }
}

[role="main"] h1 a {
    color: $color-text;
    @include border-radius($default-border-radius / 4);

    &:visited {
        color: $color-text;
    }

    &:hover,
    &:active {
        text-decoration: none;
        color: $color-text;
        background: darken($color-background-box, 3%);
    }
}

[role="complementary"] a,
footer a {
    color: $color-selecting;

    &:hover,
    &:active {
        color: $color-selected;
    }

    &:focus {
        outline: thin dotted $color-selected;
    }

    &:visited {
        color: $color-selecting;
    }
}

/* images as links */
.a--img {
    img {
        @include transition(box-shadow 0.1s linear);

    }

    &:focus {
        outline: 0;

        img {
            @include box-shadow(0 0 4px 2px $color-link-focus);
        }
    }
}
