/* Social media
   ========================================================================== */

.social-channels {
    list-style: none;
    padding: 0;

    li {
        display: inline-block;
        margin-right: 0.5em;
    }

    a {
        @include hide-text;

        display: block;
        width: 32px;
        height: 32px;

        &.googleplus {
            @include svg-graphic(branding/social-media/googleplus, png, 32px, 32px);
        }

        &.twitter {
            @include svg-graphic(branding/social-media/twitter, png, 32px, 32px);
        }

        //&:hover {
            //@include filter(brightness(1.1));
        //}
    }
}
