// import global variables
@import "core/settings";

// import Compass, Compass Plugins and any additional mixins
@import "core/helpers";



/* ==========================================================================
   Desktop version layout for IE8 due to lack of media queries support
   ========================================================================== */

.layout--span-1-6 {
    @include grid-span(6, 1, $options: 'both');
}

.layout--span-7-12 {
    @include grid-span(6, 7);
}

.layout--span-1-4 {
    @include grid-span(4, 1, $options: 'both');
}

.layout--span-5-8 {
    @include grid-span(4, 5);
}

.layout--span-9-12 {
    @include grid-span(4, 9);
}

.layout--span-1-8 {
    @include grid-span(8, 1, $options: 'both');
}

.layout--span-5-12 {
    @include grid-span(8, 5);
}

.layout--span-1-3 {
    @include grid-span(3, 1, $options: 'both');
}

.layout--span-4-6 {
    @include grid-span(3, 4);
}

.layout--span-7-9 {
    @include grid-span(3, 7);
}

.layout--span-10-12 {
    @include grid-span(3, 10);
}

.layout--span-4-9 {
    @include grid-span(6, 4);
}

.layout--span-1-9 {
    @include grid-span(9, 1, $options: 'both');
}

.layout--span-4-12 {
    @include grid-span(9, 4);
}

.nav-collapse {
    ul {
        width: 90%;

        // show standard `<nav>` menu on larger screens
        .js & {
            max-height: none;
        }
    }

    li {
        display: inline-block;
        border-top: 0;
    }

    a {
        @include adjust-font-size-to(20px, 1.1666667);

        padding: 0.25em 1em 0.125em;
    }
}

.nav-toggle {
    display: none;
}

/* PNG fallback for lack of SVG support */
.social-channels a {
    background-image: url("../img/branding/misc/icon-sprite.png");
}

hr {
    background-image: url("../img/com/hr.png");
}



/* ==========================================================================
   jQuery UI opacity support
   ========================================================================== */

.ui-helper-zfix {
    filter: Alpha(Opacity=0);
}

.ui-priority-secondary {
    filter: Alpha(Opacity=66);
}

.ui-state-disabled {
    filter: Alpha(Opacity=33);

    .ui-icon {
        filter: Alpha(Opacity=33); // fix inheritance bug
    }
}

.ui-widget-shadow {
    filter: Alpha(Opacity=33);
}

.ui-slider.ui-state-disabled {
    .ui-slider-handle,
    .ui-slider-range {
        filter: inherit;
    }
}

.ui-icon,
.ui-widget-content .ui-icon,
.ui-widget-header .ui-icon,
.ui-state-hover .ui-icon,
.ui-state-focus .ui-icon,
.ui-state-active .ui-icon {
    display: inline-block;
    width: 16px;
    height: 16px;
    text-indent: -9999px;
    overflow: hidden;
    background-repeat: no-repeat;
    vertical-align: middle;
    background-image: url("../img/branding/jquery-ui/ui-icon-sprite-333333.png");
    background-size: 256px 272px;
}

.ui-state-default .ui-icon {
    background-image: url("../img/branding/jquery-ui/ui-icon-sprite-555555.png");
}

.success .ui-icon {
    background-image: url("../img/branding/jquery-ui/ui-icon-sprite-success.png");
}

.ui-state-highlight .ui-icon,
.warning .ui-icon {
    background-image: url("../img/branding/jquery-ui/ui-icon-sprite-warning.png");
}

.ui-state-error .ui-icon,
.ui-state-error-text .ui-icon,
.error .ui-icon {
    background-image: url("../img/branding/jquery-ui/ui-icon-sprite-error.png");
}

.information .ui-icon {
    background-image: url("../img/branding/jquery-ui/ui-icon-sprite-info.png");
}



/* ==========================================================================
   Fix for reponsive embedded content in IE8
   ========================================================================== */

img,
video {
    width: auto;
}
